<?xml version="1.0" encoding="UTF-8" ?>
<config>
    <modules>
        <QSS_GoogleAuth>
            <version>1.0.0</version>
        </QSS_GoogleAuth>
    </modules>
    <global>
        <helpers>
            <qss_googleauth>
                <class>QSS_GoogleAuth_Helper</class>
            </qss_googleauth>
        </helpers>
        <blocks>
            <qss_googleauth>
                <class>QSS_GoogleAuth_Block</class>
            </qss_googleauth>
            <adminhtml>
                <rewrite>
                    <permissions_user_edit_tab_main>QSS_GoogleAuth_Block_Adminhtml_Permissions_User_Edit_Tab_Main</permissions_user_edit_tab_main>
                    <system_account_edit_form>QSS_GoogleAuth_Block_Adminhtml_System_Account_Edit_Form</system_account_edit_form>
                </rewrite>
            </adminhtml>
        </blocks>
        <models>
            <qss_googleauth>
                <class>QSS_GoogleAuth_Model</class>
            </qss_googleauth>
        </models>
        <template>
            <email>
                <qss_googleauth_email_new_secret translate="label" module="qss_googleauth">
                    <label>New Secret</label>
                    <file>qss/googleauth/new_secret.html</file>
                    <type>html</type>
                </qss_googleauth_email_new_secret>
                <qss_googleauth_email_user translate="label" module="qss_googleauth">
                    <label>User</label>
                    <file>qss/googleauth/user.html</file>
                    <type>html</type>
                </qss_googleauth_email_user>
            </email>
        </template>
        <resources>
            <qss_googleauth_setup>
                <setup>
                    <module>QSS_GoogleAuth</module>
                    <class>QSS_GoogleAuth_Model_Installer</class>
                </setup>
            </qss_googleauth_setup>
        </resources>
    </global>
    <adminhtml>
        <events>
            <admin_user_save_before>
                <observers>
                    <qss_googleauth_observer>
                        <model>qss_googleauth/observer</model>
                        <method>adminUserSaveBefore</method>
                    </qss_googleauth_observer>
                </observers>
            </admin_user_save_before>
        </events>
        <layout>
            <updates>
                <qss_googleauth>
                    <file>qss/googleauth.xml</file>
                </qss_googleauth>
            </updates>
        </layout>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <qss_googleauth before="Mage_Adminhtml">QSS_GoogleAuth_Adminhtml</qss_googleauth>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <default>
        <qss_googleauth>
            <general>
                <enabled>0</enabled>
            </general>
        </qss_googleauth>
    </default>
</config>