/*.php
mage
LICENSE*
/favicon.ico
/cron.sh
/*.sample
/RELEASE_NOTES.txt
/var
/media
/skin/install
/app/code/core
/app/etc/
!/app/etc/modules/QSS_GoogleAuth.xml
/app/code/community/*
!/app/code/community/QSS
/app/locale/*
/app/*.php
.*
!.gitignore
/shell/*
!/shell/googleauth.php
/skin/*/*/default/*
!/skin/*/*/default/qss
/app/design/*/*/*/*/*
!/app/design/*/*/*/*/qss
/lib/*
!/lib/PHPGangsta
/js/*
!/js/qss
/includes
/errors
/downloader
/dev